@model Haiku.Web.ViewModels.HaikuDetailsViewModel

@section styles {
    @Styles.Render("~/Content/rateit.css")
    @Styles.Render("~/Content/bigstars.css")
    @Styles.Render("~/Content/expanding-textarea.min.css")
}

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Haiku.DTO.SessionDto session = null;
    try
    {
        session = (Haiku.DTO.SessionDto)Session[Haiku.Services.SessionsService.SessionTokenLabelConst];
    }
    catch
    {

    }
}

<br />

@Html.ValidationMessage("GeneralError", new { @class = "text-danger" })

<br />

@Html.HiddenFor(model => model.Id, new { @id = "haikuId" } )

<form>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @id = "expanding-textarea", @disabled = "disabled" })
            </div>
        </div>
    </div>
</form>

@if (session != null && session.Nickname != Model.Author)
{
    @Html.DisplayTextFor(model => model.Author)
    <span class="rateit" id="rating" data-rateit-value="@Model.MyRating" data-rateit-max="5" data-rateit-step="1" data-rateit-resetable="false"></span>
    <span id="ratingHover"></span>
}

<div>
    @Html.ActionLink("Back", "Index", "Haikus", new { area = "", SortBy = "Date", Order = "Descending", Skip = 0, Take = 20 }, new { @class = "btn btn-warning" })
</div>

@section scripts {
    @Scripts.Render("~/Scripts/jquery.rateit.min.js")
    @Scripts.Render("~/Scripts/rating.js")  
}