@model Haiku.Web.ViewModels.HaikuEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@Html.ValidationMessage("GeneralError", new { @class = "text-danger" })

<br />

@using (Html.BeginForm("Edit", "Haikus", new { haikuId = Model.Id }, FormMethod.Post, new { id = "authentication-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" id="submit-button" />
                @Html.ActionLink("Cancel", "Index", "Haikus", new { area = "", sortBy = "Date", order = "Descending", skip = 0, take = 20 }, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/sha3.js")
    @Scripts.Render("~/Scripts/lockButton.js")
}